<% provide(:title, "検索") %>
<h1>みんなのおすすめ場所一覧</h1>
<h3>〜ワードで検索する〜</h3>

<%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>


<%= form_tag('/search',:method => 'get') do %>
  <p>行きたい場所または住所を入力してください（あいまい検索できます）</p>
  <%= text_field_tag :search %>
  <%= submit_tag '検索する', :name => nil %>
<% end %>


<%= link_to 'タグで絞り込む', posts_path, class: "btn btn-info tag_search" %> 
<%= link_to '新規投稿する', new_post_path, class: "btn btn-info tag_search" %>

<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 40px">No.</th>
      <th scope="col" style="width: 500px">投稿住所</th>
      <th scope="col" style="width: 500px">投稿場所</th>
      <th scope="col" style="width: 150px">投稿者</th>
      <th scope="col" style="width: 160px">投稿日</th>
      <th scope="col" style="width: 160px">更新日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
        <tr>
            <th><%= post.id %></th>
            <td><%= post.address %></td>
            <td><%= post.name %></td>
            <td><%= post.user_id %></td>
            <td><%= post.created_at.to_s(:datetime_base) %></td>
            <td><%= post.updated_at.to_s(:datetime_base) %></td>
            <td><%= link_to "詳細", post, id: "detail-" + post.id.to_s, class: "btn btn-info" %></td>
        </tr>
      <% end %>
  </tbody>
</table>


<%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
